# Created by .ignore support plugin (hsz.mobi)
/.idea/
/xmjf-admin/xmjf-admin.iml
/xmjf-api/xmjf-api.iml
/xmjf-code-generate/xmjf-code-generate.iml
/xmjf-ser/xmjf-ser.iml
/xmjf-web/xmjf-web.iml
/xmjf-par.iml
